.icon-style
{
    height: 25px;
}
.icon-style-btn
{
    height: 25px;
    cursor: pointer;
}

.icon-style-btn-Large
{
    height: 55px;
    cursor: pointer;
}
.icon-danger {
    color: var(--danger);
    &:hover {
      opacity: 0.6;
    }
  }

  .icon-secondary {
    color: var(--secondary);
    &:hover {
      opacity: 0.6;
    }
  }

  .icon-primary {
    color: var(--primary);
    &:hover {
      opacity: 0.6;
    }
  }

  .icon-success {
    color: var(--success);
    &:hover {
      opacity: 0.6;
    }
  }

  .icon-info {
    color: var(--info);
    &:hover {
      opacity: 0.6;
    }
  }
  .icon-warning {
    color: var(--warning);
    &:hover {
      opacity: 0.6;
    }
  }


  .icon-info-btn{

    color: #fff;
    background: var(--info);
    border-radius: 3px;
    padding: 5px;
    height: 30px;
    cursor: pointer;
  }

  .icon-info-success{

    color: #fff;
    background: var(--success);
    border-radius: 3px;
    padding: 5px;
    height: 30px;
    cursor: pointer;
  }
